main {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content:space-around; */
    margin:2em;
    width: 100%;
    height: 25em;
}
main h1{
    /* position: fixed; */
    margin-top: 3.5em;
    margin-left: 14em;
}
main div:hover .one{
    animation-name: splitCube1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes splitCube1 {
    to{
        transform:translateX(-5em) rotateZ(180deg);
    }
}
main div:hover .two{
    animation-name: splitCube2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes splitCube2 {
    to{
        transform:translateX(5em) rotateZ(-180deg);
    }
}
main div:hover .three{
    animation-name: splitCube3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes splitCube3 {
    to{
        transform:translateX(-5em) rotateZ(-180deg);
    }
}
main div:hover .four{
    animation-name: splitCube4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes splitCube4 {
    to{
        transform:translateX(5em) rotateZ(180deg);
    }
}
.one{
    position: fixed;
    top: 6em;
    left: 30em;
    width: 50px;
    height: 50px;
   background-color: red;
}

.two{
    position: fixed;
    top: 6em;
    left: 33.155em;
    width: 50px;
    height: 50px;
   background-color: yellow;
}

.three{
    position: fixed;
    top: 9.1em;
    left: 30em;
    width: 50px;
    height: 50px;
   background-color: green;
}

.four{
    position: fixed;
    top: 9.1em;
    left: 33.155em;
    width: 50px;
    height: 50px;
   background-color: blue;
}